<div class="mt-16" style="margin:20px ;">
    <h1>Thêm nhân vật</h1>
    <form method="post" action="/product/save">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" name="name" placeholder="Tên sản phẩm" >
    </div>
     <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Image</span>
        <input type="text" class="form-control" name="image" placeholder="Link image" >
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Description</span>
        <input type="text" class="form-control" name="description" placeholder="Description" >
    </div>
     <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Price</span>
        <input type="text" class="form-control" name="price" placeholder="Price" >
    </div>
    
    <input type="submit" placeholder="Add">
    </form>
</div>