<div class="mt-16">
    <h1>Update</h1>
    <form method="post" action="/product/setupdate/{{product._id}}">
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" name="name" placeholder="Name" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Image</span>
        <input type="text" class="form-control" name="image" placeholder="Link Image" >
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Price</span>
        <input type="text" class="form-control" name="price" placeholder="Price" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Description</span>
        <input type="text" class="form-control" name="description" placeholder="Description" >
    </div>
    <input type="submit">
    </form>
</div>
