<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="/">
        LNA SHOP
      </a>
    </div>
    <!-- Collapsible wrapper -->
    <form class="d-flex input-group w-auto" method="GET" action="/product/search">
      <input
        name="name"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <button type="submit" style="border:0px;">
          <i class="fas fa-search"></i>
        </button>
      </span>
    </form method="GET" action="#">

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      {{#if user}}
      <a class="text-reset me-3" href="/cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge badge-pill badge-secondary">{{session.cart.totalQty}}</span>
      </a>
      {{else}}
      {{/if}}
      <!-- Avatar -->
      <div class="dropdown">
        <a
          class="dropdown-toggle d-flex align-items-center hidden-arrow"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-user" style="color: rgb(81, 81, 81);"></i>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          {{#if user }}
            
            <li>
              <a class="dropdown-item" href="/authentication/profile">User: <span style="color: rgb(75, 164, 224);">{{user}}</span></a>
            </li>
            <li>
              <a class="dropdown-item" href="/product/save/form">Add Product</a>
            </li>
            <li>
              <a class="dropdown-item" href="/logout">Logout</a>
            </li> 
            
          {{else}}
            
            <li>
              <a class="dropdown-item" href="/authentication/create">Register</a>
            </li>
            <li>
              <a class="dropdown-item" href="/authentication">Login</a>
            </li>
       
          {{/if}}
        </ul>

      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

       






<script> 
   var form = document.querySelector('#form') 
   var input = document.querySelector('#input') 
   var submit = document.querySelector('#submit') 

  function handle(e){
    form.action=`/product/info/${input.value}`
  }
</script>