<div class="mt-16">
    <h1>Update User</h1>
    <form method="post" action="/authentication/setUpdateUser/{{user._id}}">
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Name</span>
        <input type="text" class="form-control" name="name" placeholder="Name" >
    </div>
    <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" name="email" placeholder="Email.@gmail.com" >
    </div>
     <div class="input-group mb-3">
         <span class="input-group-text" id="basic-addon1">Password</span>
        <input type="text" class="form-control" name="password" placeholder="Password" >
    </div>
    <input type="submit">
    </form>
</div>